.root_container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: "100%";
}

.button-submit,
.button-details {
  display: inline;
  margin: 5px;
}

.button-submit {
  background-color: red;
}

.button-details {
  background-color: grey;
}
